<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Travel Forum</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous">
    </script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/home-bg.jpg');"
        th:style="'background-image: url(assets/img/home-bg.jpg);'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Travel Forum</h1>
                    <span class="subheading">Share or gain traveling experience</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div style="background-image: url('../static/assets/img/PngItem_857134.png');"
     th:style="'background-image: url(assets/img/PngItem_857134.png);'">
    <h1 th:if="${orderBy == 'comments'}" style="font-size: 30pt; color: #00B4CC; text-align: center">
        &darr; Top #10 Most Commented Posts &darr;
    </h1>
    <h1 th:if="${orderBy == 'date'}" style="font-size: 30pt; color: #00B4CC; text-align: center">
        &darr; Top #10 Latest Posts &darr;
    </h1>
    <!-- Information boxes -->
    <div class="row gx-4 gx-lg-5 justify-content-center" style="width: 300px; margin-left: 20px">
            <span class="card border-left-primary shadow h-100 py-2">
                <span class="card-body">
                    <span class="row no-gutters align-items-center">
                        <span class="col-auto" style="margin-right: 10px">
                            <i class="fas fa-user fa-2x text-gray-300"></i>
                        </span>
                        <span class="col mr-1">
                            <span class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Users</span>
                            <br>
                            <a class="h5 mb-0 font-weight-bold text-gray-800" th:text="${usersCount}"
                               th:href="@{/users}"></a>
                        </span>
                        <span class="col-auto" style="margin-right: 10px">
                            <i class="fas fa-envelope fa-2x text-gray-300"></i>
                        </span>
                        <span class="col mr-2">
                            <span class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Posts</span>
                            <br>
                            <a class="h5 mb-0 font-weight-bold text-gray-800" th:text="${postsCount}"
                               th:href="@{/}"></a>
                        </span>
                    </span>
                </span>
            </span>
        </div>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div th:each="post : ${posts}" class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div class="post-preview">
                    <p class="post-meta">
                        <span th:text="#{posted.label}"></span>
                        <a href="#" th:text="${post.authorUsername}"
                           th:href="@{/users/{id}(id=${post.getAuthorId()})}">Author Username</a>
                        <span th:text="'on ' + ${post.creationDate}"></span>
                    </p>
                    <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}">
                        <h2 class="post-title" th:text="${post.title}">Post Title</h2>
                    </a>
                    <span th:each="tagName : ${post.tagNames}">
                        <a th:if="${isAuthenticated}" class=myTagButton th:text="${tagName}" href="#" th:href="@{/posts/filter/tag/{tagText}(tagText=${tagName})}">Web Design</a>
                        <a th:unless="${isAuthenticated}" class=myTagButton th:text="${tagName}" href="#">Web Design</a>
                    </span><br>
                    <li class="list-inline-item">
                        <i class="far fa-fw fa-comment"></i>
                        <span th:text="${post.commentsOutDTOs.size()}">25</span>
                        <i class="far fa-fw fa-thumbs-up"></i>
                        <span th:text="${post.likes}">25</span>
                        <i class="far fa-fw fa-thumbs-down"></i>
                        <span th:text="${post.dislikes}">25</span>
                    </li>
                </div>
                <!-- Divider-->
                <hr class="my-4"/>
            </div>
            <!-- Pager-->
            <div th:if="${isAuthenticated}" class="d-flex justify-content-end mb-4">
                <a class="btn btn-primary text-uppercase" href="#" th:href="@{/posts}">More Posts →</a>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer th:replace="/fragments/footer.html::footer"></footer>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>
</body>
</html>
