<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>
<!-- Page Header-->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')"
        th:style="'background-image: url(https://www.pnas.org/cms/10.1073/pnas.2024425118/asset/28e4957a-6c7e-4290-9211-bd59ceb137aa/assets/images/large/pnas.2024425118unfig01.jpg);'"
        th:alt="#{home.background}">
</header>
<div style="background-image: url('../static/assets/img/5577672.jpg');"
     th:style="'background-image: url(/assets/img/5577672.jpg);'">
    <div class="py-5">
        <div class="text-center">
            <section class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="card h-100">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                        </div>
                        <form action="#" th:action="@{/auth/login}" th:object="${login}" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       id="exampleInputUsername"
                                       aria-describedby="usernameHelp"
                                       placeholder="Username"
                                       th:field="*{username}">
                                <label class="my-error" th:errors="*{username}" for="exampleInputUsername"></label>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user"
                                       id="exampleInputPassword"
                                       placeholder="Password"
                                       th:field="*{password}">
                                <label class="my-error" th:errors="*{password}" for="exampleInputPassword"></label>
                            </div>
                            <input type="submit" value="Log In" class="btn btn-primary btn-user btn-block">
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="sign-in.html" th:href="@{/auth/signin}">Create an Account!</a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- Footer-->
    <footer th:replace="/fragments/footer.html :: footer"></footer>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>

<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>

</body>
</html>