<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>All Posts</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous">
    </script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet" />
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body >

<!-- Navigation-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>

<header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80')"
        th:style="'background-image: url(https://images.unsplash.com/photo-1517400508447-f8dd518b86db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);'" th:alt="#{home.background}">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <!--Search Bar-->
            <div class="search-bar" style="width: 500px">
                <div class="wrap" style="width: 500px">
                    <form th:action="@{/posts/filter}" th:object="${filterDto}" method="post" class="search">
                        <select th:field="*{sort}" class="searchTerm" style="width: 120px; font-size: 9pt" >
                            <option selected th:value="${'Unsorted'}"> Unsorted </option>
                            <option th:each="option : ${sortPostOptions}"
                                    th:value="${option.getPreview()}"
                                    th:text="${option.getPreview()}">
                            </option>
                        </select>
                        <label class="error" th:errors="*{sort}">Sort error placeholder</label>
                        <input type="text" th:field="*{title}" class="searchTerm" style="width: 500px"
                               placeholder="Type a title or start with # to filter by tag">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>

<div style="background-image: url('../static/assets/img/PngItem_857134.png');"
     th:style="'background-image: url(assets/img/PngItem_857134.png);'">
<h1 th:if="${searchTerm != null && !searchTerm.isBlank()}" th:text="'Results for ' + ${searchTerm}"
    style="font-size: 30pt; color: #00B4CC; text-align: center; margin-top: 20px"></h1>
<h1 th:unless="${searchTerm != null && !searchTerm.isBlank()}"
    style="font-size: 30pt; color: #00B4CC; text-align: center; margin-top: 20px"> All Posts</h1>

<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div th:if="${posts.isEmpty()}">No posts</div>
        <div th:unless="${posts.isEmpty()}" th:each="post : ${posts}" class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <p class="post-meta">
                    <span th:text="#{posted.label}"></span>
                    <a href="#" th:text="${post.authorUsername}"
                       th:href="@{/users/{id}(id=${post.getAuthorId()})}">Author Username</a>
                    <span th:text="'on ' + ${post.creationDate}"></span>
                </p>
                <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}">
                    <h2 class="post-title" th:text="${post.title}">Post Title</h2>
                </a>
                <span th:each="tagName : ${post.tagNames}">
                    <a th:if="${isAuthenticated}" class=myTagButton th:text="${tagName}" href="#" th:href="@{/posts/filter/tag/{tagText}(tagText=${tagName})}">Web Design</a>
                    <a th:unless="${isAuthenticated}" class=myTagButton th:text="${tagName}" href="#">Web Design</a>
                </span><br>
                <li class="list-inline-item">
                    <i class="far fa-fw fa-comment"></i>
                    <span th:text="${post.commentsOutDTOs.size()}">25</span>
                    <i class="far fa-fw fa-thumbs-up"></i>
                    <span th:text="${post.likes}">25</span>
                    <i class="far fa-fw fa-thumbs-down"></i>
                    <span th:text="${post.dislikes}" >25</span>
                </li>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    </div>
</div>
<!-- Footer-->
<footer th:replace="/fragments/footer.html::footer"></footer>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>
</body>
</html>
