<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="${post.title}"> Post Title</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80')"
        th:style="'background-image: url(https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80);'"
        th:alt="#{home.background}">
</header>
<div style="background-image: url('../static/assets/img/PngItem_857134.png');"
     th:style="'background-image: url(assets/img/PngItem_857134.png);'">
    <!-- Page content-->
    <div class="container mt-5">
        <br/><br/>
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1" th:text="${post.title}">Welcome to Post!</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">
                            <span th:text="#{posted.label}"></span>
                            <a href="#" th:text="${post.authorUsername}"
                               th:href="@{/users/{id}(id=${post.getAuthorId()})}">Author Username</a>
                            <span th:text="'on ' + ${post.creationDate}"></span>
                        </div>
                        <span th:each="tagName : ${post.tagNames}">
                                <a th:if="${isAuthenticated}" class=myTagButton th:text="${tagName}" href="#"
                                   th:href="@{/posts/filter/tag/{tagText}(tagText=${tagName})}">Web Design</a>
                                <a th:unless="${isAuthenticated}" class=myTagButton th:text="${tagName}" href="#">Web Design</a>
                            </span>
                    </header>
                    <!-- Post content-->
                    <section class="mb-5" th:text="${post.content}"> Post Content</section>
                    <div th:if="${isAuthenticated}">
                        <a th:if="${authenticatedUser.username == post.authorUsername || authenticatedUser.admin}"
                           style="background-color: #36c455" class="myButton"
                           th:href="@{/posts/{id}/update(id=${post.getId()})}">Edit</a>
                        <a th:if="${authenticatedUser.username == post.authorUsername || authenticatedUser.admin}"
                           class="myButton" data-toggle="modal" th:attr="data-target='#deletePostModal'">Delete</a>
                    </div>
                    <br/>
                    <!-- Active Buttons -->
                    <li th:if="${isAuthenticated}" class="list-inline-item">
                        <a style="font-size: 17pt;" class="btn">
                            <i class="far fa-fw fa-comment"></i>
                            <span th:text="${post.commentsOutDTOs.size()}">25</span>
                        </a>
                        <a style="font-size: 17pt;" th:href="@{/posts/{postId}/like(postId=${post.getId()})}"
                           class="btn">
                            <i th:if="${currUserReaction == 'like'}" class="fas fa-fw fa-thumbs-up"></i>
                            <i th:unless="${currUserReaction == 'like'}" class="far fa-fw fa-thumbs-up"></i>
                            <span th:text="${post.likes}">25</span>
                        </a>
                        <a style="font-size: 17pt;" th:href="@{/posts/{postId}/dislike(postId=${post.getId()})}"
                           class="btn">
                            <i th:if="${currUserReaction == 'dislike'}" class="fas fa-fw fa-thumbs-down"></i>
                            <i th:unless="${currUserReaction == 'dislike'}" class="far fa-fw fa-thumbs-down"></i>
                            <span th:text="${post.dislikes}">25</span>
                        </a>
                    </li>
                    <!-- Inactive Buttons -->
                    <li th:unless="${isAuthenticated}" class="list-inline-item">
                        <button disabled style="font-size: 17pt;" class="btn">
                            <i class="far fa-fw fa-comment"></i>
                            <span th:text="${post.commentsOutDTOs.size()}">25</span>
                        </button>
                        <button disabled style="font-size: 17pt;" class="btn">
                            <i class="far fa-fw fa-thumbs-up"></i>
                            <span th:text="${post.likes}">25</span>
                        </button>
                        <button disabled style="font-size: 17pt;" class="btn">
                            <i class="far fa-fw fa-thumbs-down"></i>
                            <span th:text="${post.dislikes}">25</span>
                        </button>
                    </li>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form th:fragment="comment-form" action="#"
                                  th:action="@{{postId}/comments/new(postId=${post.getId()})}" th:object="${commentDto}"
                                  method="post">
                                <textarea type="text" th:field="*{content}" rows="4" class="form-control"
                                          id="commentBody"
                                          placeholder="Join the discussion and leave a comment!"></textarea>
                                <label style="color: red" th:text="${error}"></label><br>
                                <input type="submit" value="Comment" style="background-color: #0d6efd; margin-top: 10px"
                                       class="myButton"><br>
                            </form>
                            <br>
                            <!-- Single comment-->
                            <div class="d-flex" th:each="comment : ${post.commentsOutDTOs}">
                                <div class="flex-shrink-0"><img class="rounded-circle" style="width:50px;height:50px;"
                                                                th:src="${comment.avatarUrl}"
                                                                alt="commentator's avatar"/></div>
                                <div class="ms-3">
                                    <div>
                                            <span class="fw-bold">
                                                <a href="#" th:text="${comment.author}"
                                                   th:href="@{/users/{id}(id=${post.getAuthorId()})}">Author Username</a>
                                            </span>
                                        <span class="text-muted fst-italic mb-2" th:text="${comment.date}"></span>
                                    </div>
                                    <span th:unless="${comment.content == 'Deleted by author.' || comment.content == 'Deleted by admin.'}"
                                          th:text="${comment.content}"></span>
                                    <span th:if="${comment.content == 'Deleted by author.' || comment.content == 'Deleted by admin.'}"
                                          style="font-style: italic" class="text-muted"
                                          th:text="${comment.content}"></span>
                                    <br>
                                    <span th:unless="${comment.content.startsWith('Deleted')}">
                                            <li th:if="${isAuthenticated}" class="list-inline-item">
                                                <a th:if="${authenticatedUser.username == comment.author}"
                                                   th:href="@{/posts/{postId}/comments/update/{commentId}(postId=${post.getId()}, commentId=${comment.getComment_id()})}"
                                                   class="btn">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a th:if="${authenticatedUser.username == comment.author || authenticatedUser.admin}"
                                                   th:href="@{/posts/{postId}/comments/delete/{commentId}(postId=${post.getId()}, commentId=${comment.getComment_id()})}"
                                                   class="btn">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </li>
                                        </span>
                                    <div class="border-top"><br></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Modal -->
                <div class="portfolio-modal modal fade" th:id="'deletePostModal'" tabindex="-1" role="dialog"
                     aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-body text-center">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8">
                                            <!-- Portfolio Modal - Title-->
                                            <h2 class="portfolio-modal-title text-secondary mb-0"
                                                th:text="#{post.label.delete}">Delete message</h2>
                                            <br>
                                            <span th:if="${isAuthenticated}">
                                                <a th:if="${authenticatedUser.username == post.authorUsername || authenticatedUser.admin}"
                                                   class="myButton" th:href="@{/posts/{id}/delete(id=${post.getId()})}">Delete</a>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><i class="fas fa-times"></i></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer th:replace="/fragments/footer.html::footer"></footer>
</div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Modal JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>
</body>
</html>
