<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title th:text="${post.title}"> Post Title</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../static/assets/favicon.ico" th:href="@{/assets/favicon.ico}"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<!-- Responsive navbar-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')"
        th:style="'background-image: url(https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);'"
        th:alt="#{home.background}">
</header>
<!-- Page content-->
<div style="background-image: url('../static/assets/img/WallpaperDog-20387631.jpg');"
     th:style="'background-image: url(/assets/img/WallpaperDog-20387631.jpg);'">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="p-5">
                    <!-- Post content-->
                    <div class="text-center">
                        <h1 class="fw-bolder mb-1" th:text="#{post.label.new}">New</h1>
                        <br/>
                        <div class="text-center">
                            <article>
                                <form th:replace="/fragments/post-form.html :: post-form"></form>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- Footer-->
        <footer th:replace="/fragments/footer.html::footer"></footer>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>
</body>
</html>
