<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

<!-- Navigation-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>
<!-- Page Header-->
<header class="masthead"
        style="background-image: url('https://www.bankrate.com/2021/06/15122908/Traveling-around-the-world-with-credit-card-points.jpg?auto=webp&optimize=high&crop=16:9&width=912')"
        th:style="'background-image: url(https://www.bankrate.com/2021/06/15122908/Traveling-around-the-world-with-credit-card-points.jpg?auto=webp&optimize=high&crop=16:9&width=912);'"
        th:alt="#{home.background}">
</header>
<!--Main Body-->
<div style="background1-image: url('../static/assets/img/1971537.jpg');"
     th:style="'background-image: url(/assets/img/1971537.jpg);background-size: cover;'">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="card h-100 col-10">
                    <div class="text-center">
                        <h2 class="h4 text-gray-900 mb-4">Create an Account!</h2>
                    </div>
                    <form action="#" th:action="@{/auth/signin}" th:object="${register}" method="post">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                       placeholder="First Name"
                                       th:field="*{firstName}">
                                <label class="my-error" th:errors="*{firstName}" for="exampleFirstName"></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="text" class="form-control form-control-user" id="exampleLastName"
                                       placeholder="Last Name"
                                       th:field="*{lastName}">
                                <label class="my-error" th:errors="*{lastName}" for="exampleLastName"></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control form-control-user" id="exampleInputUsername"
                                   placeholder="Username"
                                   th:field="*{username}">
                            <label class="my-error" th:errors="*{username}" for="exampleInputUsername"></label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                   placeholder="Email Address"
                                   th:field="*{email}">
                            <label class="my-error" th:errors="*{email}" for="exampleInputEmail"></label>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                                <input type="password" class="form-control form-control-user"
                                       id="exampleInputPassword"
                                       placeholder="Password"
                                       th:field="*{password}">
                                <label class="my-error" th:errors="*{password}" for="exampleInputPassword"></label>
                            </div>
                            <div class="col-sm-6">
                                <input type="password" class="form-control form-control-user"
                                       id="exampleRepeatPassword"
                                       placeholder="Repeat Password"
                                       th:field="*{confirmedPassword}">
                                <label class="my-error" th:errors="*{confirmedPassword}"
                                       for="exampleRepeatPassword"></label>
                            </div>
                        </div>
                        <input type="submit" value="Sign In" class="btn btn-primary btn-user btn-block">
                    </form>
                    <hr>
                    <div class="text-center">
                        <a class="small" href="login.html" th:href="@{/auth/login}">Already have an account? Login!</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer th:replace="/fragments/footer.html :: footer"></footer>
</div>
<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js"></script>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>

</body>
</html>