<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>
<body>
<nav th:replace="/fragments/navbar.html :: navbar"></nav>

<!-- Page Header-->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')"
        th:style="'background-image: url(https://media.nomadicmatt.com/2021/getstarted1.jpg);'"
        th:alt="#{home.background}">
</header>
<div  style="background-image: url('../static/assets/img/1971537.jpg');"
     th:style="'background-image: url(/assets/img/1971537.jpg);'">
    <div class="py-5">
        <!--        <div class="text-center">-->
        <section class="container px-4 px-lg-5 mt-5">
            <div class="row row-cols-12 row-cols-md-12 row-cols-xl-12 ">
                <div class="card h-100 col-3">
                    <div class="text-center">
                        <!-- Product name-->
                        <img class="card-img-top card-img-top rounded-circle"
                             style="width:100px;height:100px;"
                             th:src="${user.avatar.url}" th:alt="'Avatar'"/>
                        <br>
                        <h5 th:if="${user.admin}" class="fw-bolder" th:text="Admin">Admin</h5>
                        <h5 class="fw-bolder" th:unless="${user.admin}" th:text="User">User</h5>
                        <br>
                        <h5 class="fw-bolder" th:text="${user.getUsername()}">UserName</h5>
                        <br>
                        <h6 class="fw-bolder" th:text="${user.getFirstName()+' '+user.getLastName()}">Name</h6>

                        <br>
                        <h5 th:if="${user.isAdmin()&& user.getPhoneNumber()!=null}" class="fw-bolder"
                            th:text="${user.getPhoneNumber().getPhoneNumber()}">Phone</h5>
                        <br>
                        <h5 class="fw-bolder" th:text="${user.getEmail()}">Email</h5>
                        <br>
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent ">
                            <!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>-->
                            <div class="row justify-content-center">

                                <div th:if="${authenticatedUser.isAdmin() && !user.isAdmin()}">
                                    <!--Block/Unblock User-->
                                    <form action="#" th:action="@{/users/{userId}/block(userId=${user.getId()})}"
                                          method="post">
                                        <button th:unless="${user.isBlocked()}"
                                                class="btn btn-outline-dark mt-auto" type="submit">
                                            Block User
                                        </button>
                                        <button th:if="${user.isBlocked()}"
                                                class="btn btn-outline-dark mt-auto" type="submit">
                                            Unblock User
                                        </button>
                                    </form>
                                    <br>
                                    <!--Make Admin-->
                                    <form action="#" th:action="@{/users/{userId}/promote(userId=${user.getId()})}"
                                          method="post">
                                        <button th:unless="${user.isAdmin()||user.isBlocked()}"
                                                class="btn btn-outline-dark mt-auto" type="submit">
                                            Make Admin
                                        </button>
                                    </form>
                                    <br>
                                </div>
                                <!--Delete User-->
                                <a th:if="${authenticatedUser.id==user.getId()}" class="btn btn-outline-dark mt-auto"
                                   data-toggle="modal" th:attr="data-target='#deleteUserModal'">Delete Profile
                                </a>
                                <!--Modal -->
                                <div class="portfolio-modal modal fade" th:id="'deleteUserModal'" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body text-center">
                                                <div class="container">
                                                    <div class="row justify-content-center">
                                                        <div class="col-lg-8">
                                                            <!-- Portfolio Modal - Title-->
                                                            <h2 class="portfolio-modal-title text-secondary mb-0" th:text="#{user.label.delete}">Delete message</h2>
                                                            <br>
                                                            <a class="btn btn-outline-dark mt-auto"
                                                               th:href="@{/users/{userId}/delete(userId=${user.getId()})}">Delete Profile</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                                        </div>
                                    </div>
                                </div>

                                <!--Update User-->
                                <div th:if="${authenticatedUser.id==user.getId()}">
                                    <a href="user-update.html" th:text="'Update Profile'"
                                       th:href="@{/users/{userId}/update(userId=${user.id})}">
                                        Update Profile</a>
                                </div>
                                <br><br>
                                <div th:if="${authenticatedUser.id==user.getId()}">
                                    <a href="user-update.html" th:text="'Update Password'"
                                       th:href="@{/users/{userId}/updatepassword(userId=${user.id})}">
                                        Update Password</a>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </div>

                </div>
                <section class="container col-9">
                    <div class="card h-300">
                        <div class="text-center">
                            <h5 th:if="${userPosts.isEmpty()}" class="fw-bolder" th:text="'No Posts Yet'">No Posts Yet</h5>
                            <div th:each="post : ${userPosts}">
                                <!-- Post preview-->
                                <div class="post-preview">
                                    <p class="post-meta">
                                        <span th:text="#{posted.label}"></span>
                                        <a href="#" th:text="${post.authorUsername}" th:href="@{/users/{id}(id=${post.getAuthorId()})}">Author
                                            Username</a>
                                        <span th:text="'on ' + ${post.creationDate}"></span>
                                    </p>
                                    <a href="#" th:href="@{/posts/{id}(id=${post.getId()})}">
                                        <h2 class="post-title" th:text="${post.title}">Post Title</h2>
                                    </a>
                                    <li class="list-inline-item">
                                        <i class="far fa-fw fa-comment"></i>
                                        <span th:text="${post.commentsOutDTOs.size()}">25</span>
                                        <i class="far fa-fw fa-thumbs-up"></i>
                                        <span th:text="${post.likes}">25</span>
                                        <i class="far fa-fw fa-thumbs-down"></i>
                                        <span th:text="${post.dislikes}">25</span>
                                    </li>
                                </div>
                                <!-- Divider-->
                                <hr class="my-4"/>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <!-- Footer-->
    <footer th:replace="/fragments/footer.html :: footer"></footer>
</div>
<!-- Modal JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</body>
</html>