<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>
<!-- Navigation-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('../static/assets/img/WallpaperDog-10732953.jpg')"
        th:style="'background-image: url(https://images.designtrends.com/wp-content/uploads/2016/04/11112258/Abstract-Travel-Wallpaper.jpg?width=480);'"
        th:alt="#{home.background}">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <!--Search Bar-->
            <div class="search-bar" style="width: 500px">
                <div class="wrap" style="width: 500px">
                    <form th:action="@{/users/search}" th:object="${search}" method="post" class="search">
                        <input type="text" name="search" class="searchTerm" style="width: 500px"
                               placeholder="Who are you searching for?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
<div style="background-image: url('../static/assets/img/WallpaperDog-20387615.png');"
th:style="'background-image: url(/assets/img/WallpaperDog-20387615.png);'">
<h1 th:if="${search != null}" th:text="'Results for ' + ${search}"
    style="font-size: 30pt; color: #00B4CC; text-align: center"></h1>
<h1 th:unless="${search!= null }"
    style="font-size: 30pt; color: #00B4CC; text-align: center"> All Users</h1>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h1 th:if="${users.isEmpty()}"
            style="font-size: 30pt; color: #00B4CC; text-align: center"> No Users</h1>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div th:each="user : ${users}" class="col mb-5">
                <div class="card h-100">
                    <!-- Product details-->
                    <div class="card h-100">
                        <div class="text-center">
                            <!-- Product name-->
                            <img class="card-img-top card-img-top rounded-circle"
                                 style="width:100px;height:100px;"
                                 th:src="${user.avatar.url}" th:alt="'Avatar'"/>
                            <h5 th:if="${user.isAdmin()}" class="fw-bolder" th:text="Admin">Admin</h5>
                                <h5 class="fw-bolder" th:unless="${user.isAdmin()}" th:text="User">User</h5>
                                <div class="card-body p-4">
                                    <div th:if="${isAuthenticated}">
                                    <a href="#" th:text="${user.getUsername()}"
                                       th:href="@{/users/{id}(id=${user.id})}">Username</a>
                                        <h6 class="fw-bolder" th:text="${user.getFirstName()+' '+user.getLastName()}">Name</h6>
                                        <h5 th:if="${user.isAdmin()&&user.getPhoneNumber()!=null}" class="fw-bolder"
                                            th:text="${user.getPhoneNumber()}">Phone</h5>
                                        <h5 class="fw-bolder" th:text="${user.getEmail()}">Email</h5>
                                    </div>
                                    <div th:unless="${isAuthenticated}">
                                        <h5 class="fw-bolder" th:text="${user.getUsername()}">UserName</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer th:replace="/fragments/footer.html :: footer"></footer>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="../static/js/scripts.js" th:src="@{/js/scripts.js}"></script>
<script th:src="@{/js/scripts.js}" src="../static/js/scripts.js"></script>
</body>
</html>