<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" href="../static/assets/favicon.ico"/>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body>

<!-- Navigation-->
<nav th:replace="/fragments/navbar.html :: navbar"></nav>

<!-- Page Header-->
<header class="masthead"
        style="background-image: url('https://images.unsplash.com/photo-1526772662000-3f88f10405ff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80')"
        th:style="'background-image: url(/assets/img/Quotefancy-2016928-3840x2160.jpg);'"
        th:alt="#{home.background}">
</header>
<div style="background-image: url('../static/assets/img/WallpaperDog-20387615.png');"
     th:style="'background-image: url(/assets/img/WallpaperDog-20387615.png);'">
    <div class="row ">
        <div class="text-center">
            <!-- Product name-->
            <img class="card-img-top card-img-top rounded-circle"
                 style="width:100px;height:100px;"
                 th:src="${authenticatedUser.avatar.url}" th:alt="'Avatar'"/>
            <h5 class="fw-bolder" th:text="${authenticatedUser.getUsername()}">UserName</h5>
            <h5 class="fw-bolder" th:text="${authenticatedUser.getEmail()}">Email</h5>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="p-5">
                <div class="row text-center">
                    <h1 class="h4 text-gray-900 mb-4">Update an Account!</h1>
                </div>
                <form action="#"
                      th:action="@{/users/{id}/update(id=${userToUpdate.getId()})}"
                      th:object="${userToUpdate}"
                      method="post">
                    <div class="row">
                        <div class="container-fluid col-6">
                            <div class="text-center">
                                <h3 class="widget-header user" style="color: #1c294e">Edit Personal
                                    Information</h3>
                            </div>
                            <!-- First Name -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       id="exampleInputFirstName"
                                       aria-describedby="FirstNameHelp"
                                       placeholder="First Name"
                                       th:field="*{firstName}">
                                <label class="my-error" th:errors="*{firstName}"
                                       for="exampleInputFirstName"></label>
                            </div>
                            <!-- Last Name -->
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       id="exampleInputLastName"
                                       aria-describedby="LastNameHelp"
                                       placeholder="Last Name"
                                       th:field="*{lastName}">
                                <label class="my-error" th:errors="*{lastName}"
                                       for="exampleInputLastName"></label>
                            </div>
                            <!--Phone Number -->
                            <div th:if="${authenticatedUser.isAdmin()}" class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       id="exampleInputPhoneNumber"
                                       aria-describedby="PhoneNumberHelp"
                                       placeholder="Phone Number"
                                       th:field="*{phoneNumber}">
                                <label class="my-error" th:errors="*{phoneNumber}"
                                       for="exampleInputPhoneNumber"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-4"></div>
                        <input type="submit" value="Save My Changes"
                               class="btn btn-primary btn-user btn-block col-4">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer-->
    <footer th:replace="/fragments/footer.html :: footer"></footer>
</div>
</body>
</html>