<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> navbar </title>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a th:if="${orderBy == 'comments'}" class="navbar-brand" href="posts.html" th:href="@{/latest}">Latest Posts</a>
        <a th:if="${orderBy == 'date'}" class="navbar-brand" href="posts.html" th:href="@{/}">Most Commented Posts</a>
        <a th:unless="${orderBy == 'date' || orderBy == 'comments'}" class="navbar-brand" href="posts.html" th:href="@{/latest}">Latest Posts</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!--Right Buttons-->
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                        href="index.html" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                                        href="post-new.html" th:href="@{/posts/new}">New</a></li>
                <li th:unless="${isAuthenticated}" class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="login.html" th:href="@{/auth/login}">
                        Log In
                    </a>
                </li>
                <li th:unless="${isAuthenticated}" class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="sign-in.html" th:href="@{/auth/signin}">
                        Sign In
                    </a>
                </li>
                <li th:if="${isAuthenticated}" class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="" th:href="@{/users/{id}(id=${authenticatedUser.getId()})}" th:text="${authenticatedUser.username}">
                        username
                    </a>
                </li>
                <li th:if="${isAuthenticated}" class="nav-item">
                    <a class="nav-link px-lg-3 py-3 py-lg-4" href="login.html" th:href="@{/auth/logout}">
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>