<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post Form Fragment</title>
</head>
<body>
<form th:fragment="post-form" action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${post}" method="post">
    <!-- Post title-->
    <label th:text="#{post.label.title}" for="title"> Title </label>
    <textarea th:if="${authenticatedUser.getId() == authorId}" class="form-control" th:field="*{title}" id="title" ></textarea>
    <textarea th:unless="${authenticatedUser.getId() == authorId}" class="form-control" th:field="*{title}" id="title2" readonly></textarea>
    <label class="my-error" th:errors="*{title}" for="title"></label>
    <br/><br/>

    <!-- Post Tags-->
    <div th:if="${action == 'update'}" >
        <label th:text="#{post.label.tags}" for="tags" > Tags </label>
        <textarea th:field="*{tagNames}" class="form-control" id="tags"></textarea>
        <label class="my-error" th:errors="*{tagNames}" for="tags"></label>
        <br/><br/>
    </div>

    <!-- Post content-->
    <label th:text="#{post.label.content}" for="content" > Content </label>
    <textarea th:if="${authenticatedUser.getId() == authorId}" rows="4" th:field="*{content}" class="form-control" id="content"></textarea>
    <textarea th:unless="${authenticatedUser.getId() == authorId}" rows="4" th:field="*{content}" class="form-control" id="content2" readonly></textarea>
    <label class="my-error" th:errors="*{content}" for="content"></label>
    <br/><br/>

    <input type="submit" value="Save" style="background-color: #0d6efd; margin-bottom: 10px; text-align: right" class="myButton">
</form>
</body>
</html>